<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="msgfrag" align="center">
	
		<!-- Insolvent -->
		<th:block th:if="${session.user}">
			<div class="alert alert-warning alert-dismissible fade show"
				role="alert" th:if="${session.user.isInsolvent}">
				<i class="fa-solid fa-loader"></i>
				<span>You are flagged as an insolvent user</span>
				<span th:text="${session.user.isInsolvent}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
		</th:block>
		<!-- Success -->

		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMsg}">
			<i class="fa-solid fa-circle-check text-success"></i>
			<span th:text="${successMsg}">success</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		
		<!-- Errors -->
		
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert" th:if="${errorMsg}">
			<i class="fa-solid fa-triangle-exclamation"></i>
			<span th:text="${errorMsg}">error</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert" th:if="${errorMsgGoing}">
			<i class="fa-solid fa-square-exclamation"></i>
			<span th:text="${errorMsgGoing}">error</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
	</div>
</body>
</html>