<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/head :: headfrag}"></head>
<body class="bootstrap-dark">
	<header th:insert="~{/fragments/nav :: navfrag}">Static nav</header>
	<section th:insert="~{/fragments/msg :: msgfrag}">msg</section>
	<div align="center" class="container">
		<div class="row">
			<section class="flex justify-content-center col-sm">
				<h2>Sign In</h2>
				<form action="ActionSignIn" method="POST" autocomplete="off">
					<div class="form-group">
						<input type="text" name="username" placeholder="username" required >
					</div>
					<div class="form-group">
						<input type="password" name="password" placeholder="password" required>
					</div>
					<button type="submit" value="SignIn" class="btn btn-primary">Sign
						in</button>
				</form>
			</section>
			<section class="flex justify-content-center col-sm">
				<h2>Sign Up</h2>
				<form action="ActionSignUp" method="POST" autocomplete="off">
					<div class="form-group">
						<input type="text" name="username" placeholder="username" required >
					</div>
					<div class="form-group">
						<input type="email" name="email" placeholder="email" required >
					</div>
					<div class="form-group">
						<input type="password" name="password" placeholder="password" required >
					</div>
					<div class="form-group">
						<label>Employee <input type="checkbox" name="employee">
						</label>
					</div>
					<button type="submit" value="SignUp" class="btn btn-primary">Sign
						up</button>
				</form>
			</section>
		</div>
	</div>

	<footer th:insert="~{/fragments/footer :: footer}">Static
		footer</footer>
</body>
</html>